.yesNameUrl {
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.yesNameUrl_fade {
    opacity: 0;
    pointer-events: none;
}

.yesNameUrl_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.yesNameUrl_title {
    position: relative;
    margin: auto;
    top: 4rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.yesNameUrl_p {
    position: relative;
    margin: auto;
    top: 5rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.yesNameUrl_innerBox {
    position: relative;
    top: 6.125rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.yesNameUrl_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.yesNameUrl_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isPopupCopyLink {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopupCopyLink_fade {
    opacity: 0;
    pointer-events: none;
}

.isPopupCopyLink_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 13.0rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopupCopyLink_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isPopupCopyLink_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
    margin-bottom: 0.2rem;
}

.isPopupCopyLink_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    top: 5.125rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isPopupKakaoAgreement {
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopupKakaoAgreement_fade {
    opacity: 0;
    pointer-events: none;
}

.isPopupKakaoAgreement_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopupKakaoAgreement_title {
    position: relative;
    margin: auto;
    top: 4rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isPopupKakaoAgreement_p {
    position: relative;
    margin: auto;
    top: 5rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.isPopupKakaoAgreement_innerBox {
    position: relative;
    top: 6.125rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.isPopupKakaoAgreement_agreement {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.isPopupKakaoAgreement_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.ispopupopenplanet {
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.ispopupopenplanet_fade {
    opacity: 0;
    pointer-events: none;
}

.ispopupopenplanet_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.ispopupopenplanet_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.ispopupopenplanet_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.ispopupopenplanet_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.ispopupopenplanet_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.ispopupopenplanet_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.ispopupopenplanetnoname {
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.ispopupopenplanetnoname_fade {
    opacity: 0;
    pointer-events: none;
}

.ispopupopenplanetnoname_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 13rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.ispopupopenplanetnoname_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.ispopupopenplanetnoname_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.ispopupopenplanetnoname_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.ispopupopenplanetnoname_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.ispopupopenplanetnoname_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.noname_outContainer {
    position: relative;
    text-align: center;
    top: 25%;
}

.noname_outContainer>p {
    color: white;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: 'NeoDunggeunmo';
}

.noname_sendSignal {
    background-color: #4A4AFF;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 12px;
    color: white;
    font-family: 'NeoDunggeunmo';
}

.noname_sendSignal_outContainer {
    position: fixed;
    top: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: rgb(6, 19, 43);
    z-index: 7;
    transition: all 0.5s;
    color: white;
}

.noname_sendSignal_outContainer_fade {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

.noname_sendSignal_innerTitle {
    position: relative;
    left: 10%;
    top: 5%;
    font-size: 1.3rem;
    text-align: left;
    margin: auto;
}

.noname_sendSignal_innerTitle_backIcon {
    position: fixed;
    left: 1%;
    top: 1%;
    width: 3rem;
    opacity: 0.8;
}

.noname_sendSignal_innerTitle_p {
    margin: auto;
    margin-top: 2.5rem;
    font-size: 1.25rem;
    font-family: 'NeoDunggeunmo';
    line-height: 1.5rem;
}

.noname_sendSignal_innerName {
    position: relative;
    left: 10%;
    top: 5%;
    font-size: 1.3rem;
    text-align: left;
    margin: auto;
}

.noname_sendSignal_innerName_p {
    margin-top: 2.0rem;
    margin-bottom: 0.5rem;
    font-size: 1.0rem;
    font-family: 'NeoDunggeunmo';
}

#input_userName {
    border-radius: 0%;
    border: 1px solid transparent;
    border-bottom: 1px solid #828A93;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 16rem;
    background-color: transparent;
    padding-left: 0.5rem;
    color: white;
}

.inputUserNameLength {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    vertical-align: unset;
    color: #828A93;
}

.noname_sendSignal_line {
    position: relative;
    top: 8%;
    width: 100%;
    height: 0.1rem;
    border: none;
    background-color: rgba(230, 230, 230, 1.0);
    margin-top: 0.5rem;
}

.noname_sendSignal_innerTime {
    position: relative;
    left: 10%;
    top: 8%;
    font-size: 1.3rem;
    text-align: left;
}

.noname_sendSignal_innerTime_p {
    margin-top: 2.375rem;
    margin-bottom: 0rem;
    font-size: 1.0rem;
    font-family: 'NeoDunggeunmo';
}

.noname_sendSignal_innerTime_h6 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: #828A93;
    font-family: 'NeoDunggeunmo';
}

.noname_sendSignal_innerTime_view {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    position: relative;
    top: 7%;
    height: 9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.noname_sendSignal_innerTime_view_bolt_div {
    position: absolute;
    display: flex;
    width: 7rem;
    justify-content: space-between;
}

.noname_sendSignal_innerTime_view_bolt_1 {
    position: relative;
    margin: 0.375rem;
    background-image: url('../lib/icon/bolt.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.8rem;
    height: 0.8rem;
}

.noname_sendSignal_innerTime_view_bolt_2 {
    position: relative;
    margin: 0.375rem;
    background-image: url('../lib/icon/bolt.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.8rem;
    height: 0.8rem;
}

.noname_sendSignal_innerTime_view_start {
    font-family: 'NeoDunggeunmo';
    height: 7rem;
    width: 7rem;
    background-color: rgba(230, 230, 230, 1.0);
    margin: auto;
    color: black;
}

.noname_sendSignal_innerTime_view_pause {
    background-image: url('../lib/icon/wave.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
}

.noname_sendSignal_innerTime_view_end {
    font-family: 'NeoDunggeunmo';
    height: 7rem;
    width: 7rem;
    background-color: rgba(230, 230, 230, 1.0);
    margin: auto;
    color: black;
}

.noname_sendSignal_innerTime_view_p {
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.noname_sendSignal_innerTime_view_month {
    font-size: 1.3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.noname_sendSignal_innerTime_view_hours {
    font-size: 1.0rem;
    margin-top: 0rem;
}

.noname_sendSignal_innerNotice {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    top: 9.5%;
    height: 4rem;
    padding-right: 1rem;
}

.noname_sendSignal_innerNotice_innerbox {
    position: relative;
    left: 15%;
    text-align: left;
    font-size: 1.3rem;
}

.noname_sendSignal_innerNotice_p {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.noname_sendSignal_innerNotice_h6 {
    font-size: 0.8rem;
    margin: auto;
}

.noname_sendSignal_innerNotice_button {
    position: relative;
    width: 3rem;
    top: 10%;
}

.noname_sendSignal_startDiv {
    position: relative;
    top: 10%;
    font-size: 1.5rem;
    background-color: rgba(6, 19, 43, 1.0);
    height: inherit;
}

.noname_sendSignal_startDiv_button {
    position: relative;
    width: 18rem;
    height: 3rem;
    margin: auto;
    top: -5%;
    font-size: 1.0rem;
    background-color: #4A4AFF;
    line-height: 3.0rem;
    border: 1px solid black;
    border-radius: 0.7rem;
    font-family: 'NeoDunggeunmo';
}

.noname_sendSignal_startDiv_button_fade {
    position: relative;
    width: 18rem;
    height: 3rem;
    margin: auto;
    top: -5%;
    font-size: 1.0rem;
    color: white;
    background-color: lightgray;
    line-height: 3.0rem;
    border: 1px solid black;
    border-radius: 0.7rem;
    font-family: 'NeoDunggeunmo';
    pointer-events: none;
    touch-action: none;
}

/*  */

.yesname_outContainer {
    position: relative;
    text-align: center;
    top: calc(var(--vh, 1vh) * 13);
}

.yesname_outContainer_div_fade {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.yesname_outContainer>h3 {
    margin-bottom: 2rem;
    font-family: 'NeoDunggeunmo';
}

.yesname_outContainer>h3,
h4 {
    color: white;
    font-weight: normal;
}

.yesname_outContainer>h3>span {
    background-color: rgba(0, 0, 0, 0.5);
}

.yesname_outContainer>h4 {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.yesname_outContainer>div>h4 {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.yesname_outContainer>.h4_new {
    margin-bottom: 0rem;
    margin-top: 2.5rem;
}

/*  */

.letterBox_outContainer {
    position: relative;
    top: calc(var(--vh, 1vh) * 12);
    margin-top: 2rem;
}

.letterBox_innerContainer {
    display: flex !important;
    text-align: center;
    height: 23rem;
}

.letterBox_innerContainer_div {
    margin: auto;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
    padding-bottom: 1rem;
    font-family: 'NeoDunggeunmo';
}

.letterBox_innerContainer_div>span {
    color: white;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%);
}

.letterEmptyIcon {
    position: relative;
    margin: auto;
    margin-bottom: 0.5rem;
    background-image: url('../lib/icon/nomessage.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

/* .letteropen {
    border: none;
    background-color: transparent;
    background-image: url(https://cdn-icons-png.flaticon.com/512/3071/3071819.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.0rem;
    height: 4.0rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
} */

.letterblock {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/block.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.0rem;
    height: 4.0rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    pointer-events: none;
    touch-action: none;
}

.letter0 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-airplane.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter1 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-alien.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter2 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-astronaut.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter3 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-bottle.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter4 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-moon.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter5 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-poop.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter6 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-saturn.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter7 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-selfieman.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter8 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-star.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter9 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-sun.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter10 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-tissue.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.letter11 {
    border: none;
    background-color: transparent;
    background-image: url('https://github.com/Lee-Seung-Wook/Angelo-s_Library/blob/main/lib/stamp/stamp-ufo.gif?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

/*  */

.letter_outContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 7;
}

.letter_outContainer_fade {
    display: none;
}

.letter_textarea_top {
    margin: auto;
    margin-top: 3rem;
    width: 20.5rem;
    height: 3.875rem;
    background-color: white;
    border-radius: 1.125rem 1.125rem 0rem 0rem;
    border: none;
    display: grid;
    grid-template-columns: 10% 60% 30%;
}

.letter_textarea {
    margin: auto;
    width: 20.5rem;
    height: 22.75rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0rem 0rem 1.125rem 1.125rem;
    touch-action: none;
    position: relative;
    border: none
}

.textbox {
    position: absolute;
    margin: auto;
    border: none;
    width: 16.625rem;
    height: 18rem;
    padding: 1rem;
    font-family: 'SpoqaHanSansNeo-Regular';
    text-align: left;
    font-size: 1rem;
    color: black;
    background-image: url('../lib/paper/paper_white.gif');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    line-height: 1.5rem;
    resize: none;
    touch-action: none;
    pointer-events: none;
}

.preloading {
    font-family: 'NeoDunggeunmo';
    z-index: 1;
}

.preloading_fade {
    z-index: 0;
    display: none;
}

.letter_textarea_author_title {
    position: relative;
    top: 1.0rem;
    left: 1.05rem;
    font-family: 'NeoDunggeunmo';
    font-size: 1.25rem;
}

.author {
    position: relative;
    text-align: left;
    background-color: transparent;
    border: none;
    top: 1.0rem;
    left: 2.375rem;
    color: #090A14;
    font-family: 'SpoqaHanSansNeo-Regular';
    height: 1rem;
    line-height: 1rem;
    width: 9rem;
}

.letter_icon_box {
    display: inline-flex;
    padding-right: 1rem;
    justify-content: flex-end;
}

.letter_close {
    position: relative;
    background-image: url('../lib/icon/closed.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 1rem;
    width: 2.0rem;
    height: 2.0rem;
    margin: none;
}

/*  */

.letter_block {
    position: relative;
    background-image: url('../lib/icon/trash_bin.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.75rem;
    top: 1rem;
    width: 2.0rem;
    height: 2.0rem;
    background-color: transparent;
    margin: none;
}

.item0 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker-pudding.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item1 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_cup_cake.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item2 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_cake.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item3 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_candy.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item4 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_lolipop.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item5 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_beer.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item6 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_chicken.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item7 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_coffee.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item8 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_hotgod.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item9 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_pizza.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item10 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_pie.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item11 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_chocolate.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item12 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_hart\(red\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item13 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_black.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item14 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_blue.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item15 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_gray.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item16 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_green.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item17 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_orange.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item18 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_purple.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item19 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_yellow.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item20 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_simple_heart_line.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item21 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_heart_black.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item22 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_heart_purple.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item23 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_heart_red.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item24 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_white_star.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item25 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_black_star.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item26 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_star_line.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item27 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_gold_star.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item28 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker-dog.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item29 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_mouse_lying.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item30 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_mouse_standing.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item31 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_bow\(red\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item32 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_bow\(black\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item33 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_bow\(pink\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item34 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_bow\(purple\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item35 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_bow\(white\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item36 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon1\(red\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item37 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon1\(black\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item38 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon1\(pink\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item39 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon1\(purple\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item40 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon1\(white\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item41 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon2\(red\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item42 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon2\(black\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item43 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon2\(pink\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item44 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon2\(purple\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item45 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_ribon2\(white\).gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item46 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_face_4.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item47 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_face_3.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item48 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_face_2.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item49 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_face_1.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item50 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_red_line.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item51 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_red_star.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item52 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_teddy_bear.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item53 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_kiss.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item54 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_tears.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item55 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_danger.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item56 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_suprise.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item57 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_boom.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item58 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_poo.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item59 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_moon.gif');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item60 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_cherryblossoms.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item61 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_cherry.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item62 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_money.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item63 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_rose.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

.item64 {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../lib/sticker/sticker_tulip.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 50%; */
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
    background-position: center;
}

/*  */

.googleAdsense {
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%); */
    position: relative;
    margin-top: 0.5rem;
}

/*  */

.isNotYetLetter {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isNotYetLetter_fade {
    opacity: 0;
    pointer-events: none;
}

.isNotYetLetter_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 13.0rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isNotYetLetter_title {
    position: relative;
    margin: auto;
    top: 1.75rem;
    font-size: 1.25rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isNotYetLetter_p {
    position: relative;
    margin: auto;
    top: 2.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
    margin-bottom: 0.2rem;
}

.isNotYetLetter_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    top: 3.25rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isLetterBlockConfirm {
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1rem);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isLetterBlockConfirm_fade {
    opacity: 0;
    pointer-events: none;
}

.isLetterBlockConfirm_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isLetterBlockConfirm_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isLetterBlockConfirm_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.isLetterBlockConfirm_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.isLetterBlockConfirm_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #ffdbdb;
    color: #ff4a4a;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.isLetterBlockConfirm_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #ff4a4a;
    color: #ffdbdb;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.new_letter_icon {
    border: 1px solid #08f;
    background-color: #08f;
    border-radius: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: -1.8rem;
    animation: flicker 1.5s infinite alternate;
}

.new_letter_icon_open {
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: -1.8rem;
}

/* Animate neon flicker */
@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%,
    24%,
    55% {
        box-shadow: none;
    }
}