.menu_wrap {
    z-index: 5;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.menu_wrap2 {
    z-index: 5;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: -10rem;
    overflow: hidden;
    touch-action: none;
}

.menu_outContainer {
    z-index: 7;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menu_bar {
    z-index: 6;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 1.0);
    width: 10rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

.menu_bar_active {
    z-index: 6;
    position: absolute;
    right: 0;
    background-color: rgba(6, 19, 43, 1.0);
    width: 13rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 1;
    transition: all 0.5s;
}

.menu_bar_active_wide {
    z-index: 6;
    position: absolute;
    right: 0;
    background-color: rgba(6, 19, 43, 1.0);
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 1;
    transition: all 0.5s;
    color: white;
}

.menu_bar_inner {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
    color: white;
}

.menu_bar_inner>p,
a {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    font-family: 'NeoDunggeunmo';
}

.menu_bar_inner>a>p {
    margin-top: -1.6rem;
}

.menu_bar_inner>p,
a>p {
    margin-left: 1.5rem;
}

.menu_bar_inner_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_bar_mypage {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_mypage_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_bar_planetter {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_planetter_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_bar_howto {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_howto_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_howto_page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: auto;
}

.menu_plater_img_2 {
    margin: auto;
    width: 18rem;
    margin-top: 3.0rem;
    margin-bottom: 1.0rem;
}

.howto_title {
    font-family: 'NeoDunggeunmo';
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 1.0rem;
}

.howto_p {
    font-family: 'NeoDunggeunmo';
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0.5rem;
}

.howto_slick_title {
    font-family: 'NeoDunggeunmo';
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    margin-top: 2.0rem;
}

.howto_slick_p {
    font-size: 0.75rem;
    margin-bottom: 0.15rem;
    margin-top: 0.15rem;
}

.menu_outContainer_active {
    z-index: 6;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.howto_div_margin {
    height: 5rem;
}

.menu_img {
    background-image: url('../lib/icon/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
}

/* icon */
.menu_img_active {
    background-image: url('../lib/icon/back.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.0rem;
    height: 2.0rem;
}

/* icon */
.menu_img_active_plus {
    background-image: url('../lib/icon/back.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.0rem;
    height: 2.0rem;
    transform: rotate(180deg);
}

/*  */

.menu_bar_mypage_box1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100vw;
}

.menu_bar_mypage_box1_p {
    margin: 0.2rem;
    font-size: 1.3rem;
    font-family: 'NeoDunggeunmo';
}

.menu_bar_mypage_box1_innerBox {
    margin: auto;
    margin-left: 3.5rem;
}

.menu_bar_mypage_box1_logout {
    border: 1px solid black;
    background-color: #4A4Aff;
    width: 5rem;
    height: 2.25rem;
    text-align: center;
    line-height: 2.25rem;
    font-size: 0.875rem;
    border-radius: 0.3rem;
    font-family: 'NeoDunggeunmo';
}

.menu_bar_mypage_line1 {
    position: relative;
    left: 0%;
    width: 100vw;
    height: 0.1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border: none;
    /* background-color: rgba(230, 230, 230, 1.0); */
}

.menu_bar_mypage_box2 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
}

.menu_bar_mypage_box2_p {
    margin: 0.2rem;
    font-size: 1.0rem;
    font-family: 'NeoDunggeunmo';
}

.menu_bar_mypage_box2_innerBox {
    margin: auto;
    margin-left: 4rem;
}

.menu_bar_mypage_box2_notice {
    position: relative;
    background-color: #828A93;
    width: 4rem;
    height: 1.5rem;
}

.menu_bar_mypage_box2_notice_active {
    position: relative;
    background-color: #4A4Aff;
    width: 4rem;
    height: 1.5rem;
}

.menu_bar_mypage_box2_notice_inner {
    position: relative;
    background-color: #ffffff;
    width: 2.0rem;
    height: 1.5rem;
}

.menu_bar_mypage_box2_notice_inner_active {
    position: relative;
    background-color: #ffffff;
    width: 2.0rem;
    height: 1.5rem;
    margin-left: 2rem;
}

.menu_bar_mypage_line2 {
    position: relative;
    left: 0%;
    width: 85vw;
    height: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    background-color: rgba(230, 230, 230, 0.1);
}

.menu_bar_mypage_box_p {
    margin: 0.2rem;
    font-size: 1.0rem;
    width: 9rem;
    font-family: 'NeoDunggeunmo';
}

.menu_bar_mypage_line {
    position: relative;
    left: 0%;
    width: 85vw;
    height: 0.1rem;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    border: none;
    background-color: rgba(230, 230, 230, 0.1);
}

/*  */

.membershipWithdrawal {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.membershipWithdrawal_fade {
    opacity: 0;
    pointer-events: none;
}

.membershipWithdrawal_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.membershipWithdrawal_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.membershipWithdrawal_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.membershipWithdrawal_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.membershipWithdrawal_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #ffdbdb;
    color: #ff4a4a;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.membershipWithdrawal_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #ff4a4a;
    color: #ffdbdb;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isNoAgreement {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isNoAgreement_fade {
    opacity: 0;
    pointer-events: none;
}

.isNoAgreement_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isNoAgreement_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isNoAgreement_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.isNoAgreement_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.isNoAgreement_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.isNoAgreement_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isYesAgreement {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isYesAgreement_fade {
    opacity: 0;
    pointer-events: none;
}

.isYesAgreement_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isYesAgreement_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isYesAgreement_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.isYesAgreement_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.isYesAgreement_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.isYesAgreement_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isPopUpHowTo {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpHowTo_fade {
    opacity: 0;
    pointer-events: none;
}

.isPopUpHowTo_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpHowTo_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isPopUpHowTo_article {
    position: relative;
    margin: auto;
    height: 15rem;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
    text-align: left;
    overflow: scroll;
}

.isPopUpHowTo_closed {
    position: absolute;
    right: 2%;
    top: 2%;
    background-image: url('../lib/icon/closed.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
}

/*  */

.isPopUpInfo {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpInfo_fade {
    opacity: 0;
    pointer-events: none;
}

.isPopUpInfo_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpInfo_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isPopUpInfo_article {
    position: relative;
    margin: auto;
    height: 15rem;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
    text-align: left;
    overflow: scroll;
}

.isPopUpInfo_closed {
    position: absolute;
    right: 2%;
    top: 2%;
    background-image: url('../lib/icon/closed.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
}

/*  */

.isPopUpLogOut {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpLogOut_fade {
    opacity: 0;
    pointer-events: none;
}

.isPopUpLogOut_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpLogOut_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isPopUpLogOut_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 2.125rem;
    padding-right: 2.125rem;
    font-size: 0.875rem;
    color: #828A93;
}

.isPopUpLogOut_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.isPopUpLogOut_button_signOut {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.isPopUpLogOut_button_cancel {
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: 16.375rem; */
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.menu_plater_page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: auto;
}

.menu_plater_img {
    margin: auto;
    width: 15rem;
    height: 15rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.menu_plater_img_1 {
    margin: auto;
    width: 10rem;
    height: 10rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.menu_plater_img_outContainer {
    text-align: center;
    margin: auto;
    width: 80vw;
}

.menu_plater_page>h5 {
    text-align: center;
    line-height: 1.0rem;
    height: 1.0rem;
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0.5rem;
    font-family: 'NeoDunggeunmo';
}

.menu_plater_page>p {
    text-align: center;
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    font-family: 'NeoDunggeunmo';
}

.menu_palter_bottom_pading {
    height: 2rem;
}

.menu_palter_bottom_pading_2 {
    height: 5rem;
}

/*  */

.go_to_notion {
    color: white;
    text-decoration: none;
}

.menu_palter_bottom_button {
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    background-color: #4A4AFF;
    border-radius: 0.8rem;
    height: 3rem;
    line-height: 3rem;
    color: white;
    font-family: 'NeoDunggeunmo';
    width: 17rem;
    font-size: 1.0rem;
    text-decoration: none;
}

/*  */

.menu_bar_icon_1 {
    position: absolute;
    background-image: url('../lib/icon/menu_mypage.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
}

.menu_bar_icon_2 {
    position: absolute;
    background-image: url('../lib/icon/menu_plater.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}

.menu_bar_icon_3 {
    position: absolute;
    background-image: url('../lib/icon/menu_how_to.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}

.menu_bar_icon_4 {
    position: absolute;
    background-image: url('../lib/icon/menu_contact_us.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}

.newClass {
    margin: auto;
    top: 5%;
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 0rem;
}

.newClass li {
    position: relative;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
}

.newClass li button {
    font-size: 0rem;
    line-height: 1rem;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.newClass li button::before {
    font-size: 1.5rem;
    line-height: 1rem;
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    content: '•';
    text-align: center;
    opacity: .75;
    color: #828A93;
}

.newClass li.slick-active button:before {
    opacity: .75;
    color: white;
}

/* */

.menu_bar_feedback {
    position: relative;
    margin-top: 1.25rem;
    margin-left: 1.5rem;
    width: 100%;
    color: white;
    font-size: 0.875rem;
    font-family: 'NeoDunggeunmo';
}