.all_background_img {
    background-image: url(../lib/KakaoTalk_20230101_142900387.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-color: black;
}

.main_background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.section_shootingStar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: -10;
}

.shootingStar {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1rem;
    height: 0.1rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 5s linear infinite;
}

.shootingStar::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 7rem;
    height: 0.1rem;
    background: linear-gradient(90deg, white, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 0.7;

    }

    100% {
        transform: rotate(315deg) translateX(-800px);
        opacity: 0;
    }
}

.shootingStar:nth-child(1) {
    top: 0;
    right: 60%;
    left: initial;
    animation-delay: 5s;
    animation-duration: 5s;
}

.shootingStar:nth-child(2) {
    top: 0;
    right: 0%;
    left: initial;
    animation-delay: 8s;
    animation-duration: 8s;
}

.shootingStar:nth-child(3) {
    top: 0;
    right: -40%;
    left: initial;
    animation-delay: 3s;
    animation-duration: 3s;
}

.shootingStar:nth-child(4) {
    top: 0;
    right: 20%;
    left: initial;
    animation-delay: 7s;
    animation-duration: 6s;
}