.menu_wrap {
    z-index: 5;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.menu_wrap2 {
    z-index: 5;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: -10rem;
    overflow: hidden;
    touch-action: none;
}

.menu_outContainer {
    z-index: 7;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menu_bar {
    z-index: 6;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 1.0);
    width: 10rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

.menu_bar_active {
    z-index: 6;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 1.0);
    width: 10rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 1;
    transition: all 0.5s;
}

.menu_bar_active_wide {
    z-index: 6;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 1.0);
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 1;
    transition: all 0.5s;
}

.menu_bar_inner {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_inner>p,
a {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.menu_bar_inner_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_bar_mypage {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_mypage_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_bar_planetter {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_planetter_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_bar_howto {
    z-index: 6;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.menu_bar_howto_true {
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu_outContainer_active {
    z-index: 6;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menu_img {
    background-image: url('../lib/icon/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
}

.menu_img_active {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2723/2723003.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.3rem;
    height: 1.3rem;
}

.menu_img_active_plus {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2723/2723003.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.3rem;
    height: 1.3rem;
    transform: rotate(180deg);
}

/*  */

.menu_bar_mypage_box1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100vw;
}

.menu_bar_mypage_box1_p {
    margin: 0.2rem;
    font-size: 1.3rem;
}

.menu_bar_mypage_box1_innerBox {
    margin: auto;
    margin-left: 1.5rem;
}

.menu_bar_mypage_box1_logout {
    border: 1px solid black;
    background-color: rgba(230, 230, 230, 1.0);
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.0rem;
}

.menu_bar_mypage_line1 {
    position: relative;
    left: 0%;
    width: 100vw;
    height: 0.2rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgba(230, 230, 230, 1.0);
}

.menu_bar_mypage_box2 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
}

.menu_bar_mypage_box2_p {
    margin: 0.2rem;
    font-size: 1.0rem;
}

.menu_bar_mypage_box2_innerBox {
    margin: auto;
    margin-left: 2rem;
}

.menu_bar_mypage_box2_notice {
    position: relative;
    background-color: rgba(230, 230, 230, 1.0);
    width: 4rem;
    height: 1.5rem;
}

.menu_bar_mypage_box2_notice_inner {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 1.0rem;
    height: 1.0rem;
    margin-left: 0.5rem;
    top: 15%;
}

.menu_bar_mypage_line2 {
    position: relative;
    left: 0%;
    width: 100vw;
    height: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgba(230, 230, 230, 1.0);
}

.menu_bar_mypage_box_p {
    margin: 0.2rem;
    font-size: 1.0rem;
    width: 7rem;
}

.menu_bar_mypage_line {
    position: relative;
    left: 0%;
    width: 100vw;
    height: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgba(230, 230, 230, 1.0);
}

/*  */

.membershipWithdrawal {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.membershipWithdrawal_fade {
    opacity: 0;
    pointer-events: none;
}

.membershipWithdrawal_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 19.375rem;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.membershipWithdrawal_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.membershipWithdrawal_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.875rem;
    color: #828A93;
}

.membershipWithdrawal_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.membershipWithdrawal_button_signOut {
    position: relative;
    margin: auto;
    width: 16.375rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.membershipWithdrawal_button_cancel {
    position: relative;
    margin: auto;
    width: 16.375rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.isPopUpLogOut {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpLogOut_fade {
    opacity: 0;
    pointer-events: none;
}

.isPopUpLogOut_outContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 19.375rem;
    height: 19.375rem;
    background-color: rgba(255, 255, 255, 1.0);
    transform: translate(-50%, 0%);
    z-index: 9;
    border-radius: 1.125rem;
    text-align: center;
    overflow: hidden;
    touch-action: none;
    transition: all 1.5s;
}

.isPopUpLogOut_title {
    position: relative;
    margin: auto;
    top: 2.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #090A14;
    font-family: 'NeoDunggeunmo';
}

.isPopUpLogOut_p {
    position: relative;
    margin: auto;
    top: 3.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.875rem;
    color: #828A93;
}

.isPopUpLogOut_innerBox {
    position: relative;
    top: 4.875rem;
    display: grid;
    grid-template-rows: 50% 50%;
}

.isPopUpLogOut_button_signOut {
    position: relative;
    margin: auto;
    width: 16.375rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #DBDBFF;
    color: #4A4AFF;
    border-radius: 0.75rem;
    font-family: 'NeoDunggeunmo';
}

.isPopUpLogOut_button_cancel {
    position: relative;
    margin: auto;
    width: 16.375rem;
    height: 3.25rem;
    font-size: 1.0rem;
    line-height: 3.25rem;
    background-color: #4A4AFF;
    color: #DBDBFF;
    border-radius: 0.75rem;
    margin-top: 0.375rem;
    font-family: 'NeoDunggeunmo';
}

/*  */

.menu_plater_page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: auto;
}

.menu_plater_img {
    margin: auto;
    width: 75%;
}

.menu_plater_img_outContainer {
    text-align: center;
    margin: auto;
    width: 80vw;
}

.menu_plater_page>h5 {
    text-align: center;
    line-height: 0.5rem;
    height: 0.5rem;
}

.menu_palter_bottom_pading {
    height: 5rem;
}

/*  */

.go_to_notion {
    color: black;
    text-decoration: none;
}