.refresh {
    position: absolute;
    top: 45%;
    left: 62%;
    width: 0.625rem;
    height: 0.625rem;
    background-image: url('../lib/icon/refresh.png');
    background-size: cover;
    transform: rotate(-360deg);
    transition: all 1.0s;
}

.refresh_active {
    position: absolute;
    top: 45%;
    left: 62%;
    width: 0.625rem;
    height: 0.625rem;
    background-image: url('../lib/icon/refresh.png');
    background-size: cover;
    transform: rotate(360deg);
    transition: all 1.0s;
}