.refresh {
    position: absolute;
    top: 39%;
    left: 60%;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2091/2091540.png');
    background-size: cover;
    transform: rotate(-360deg);
    transition: all 1.0s;
}

.refresh_active {
    position: absolute;
    top: 39%;
    left: 60%;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2091/2091540.png');
    background-size: cover;
    transform: rotate(360deg);
    transition: all 1.0s;
}