.send_top_menu {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
}

.send_top_menu>img {
    margin-left: 1rem;
    width: 50%;
}

.send_top_menu>h3 {
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.send_top_menu>span {
    text-align: right;
    margin-right: 1.5rem;
    font-size: 1.0rem;
}

#send_textarea {
    margin: auto;
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    background-color: #262a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
}

.send_textbox {
    font-family: 'GangwonEdu_OTFBoldA';
    position: absolute;
    text-align: left;
    line-height: 1.5rem;
    border: 2px solid black;
    border-radius: 2%;
    resize: none;
    display: flex;
    margin: auto;
    width: 15rem;
    height: 14rem;
    background-image: url('https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432');
    padding: 0rem 1rem;
    padding-top: 1rem;
}

.send_textLength {
    position: absolute;
    left: 80%;
    top: 92%;
    color: aliceblue;
}

/* sticker button */

.send_btn0 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_btn1 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/733/733740.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_btn2 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* activate sticker */

.send_item0 {
    width: 4rem;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item0:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item1 {
    width: 4rem;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/733/733740.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item1:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item2 {
    width: 4rem;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item2:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_close {
    background-image: url(https://cdn-icons-png.flaticon.com/512/463/463612.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    z-index: 2;
}

/*  */

.send_popUp {
    visibility: visible;
    transition: all 0.5s;
}

.send_popUp_fade {
    touch-action: none;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
}

.send_popUp_outContainer {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.send_popUp_InnerContainer {
    width: 18rem;
    height: 18rem;
    background-color: rgba(255, 255, 255, 1.0);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid rgba(230, 230, 230, 1.0);
}

.send_popUp_InnerContainer>h3 {
    color: black;
    text-align: center;
    margin-top: 2.5rem;
}

.send_popUp_InnerContainer>h4 {
    color: black;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.send_popUP_send_btn,
.send_popUP_main_btn {
    margin: auto;
    margin-top: 1.2rem;
    border: 1px solid black;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

/*  */

.send_option_button {
    position: absolute;
    top: 26rem;
    left: 2rem;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3303/3303893.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}

/*  */

.send_letter_option_active {
    position: absolute;
    top: 25rem;
    width: 100%;
    opacity: 1;
    background-color: white;
    transition: all 0.5s;
}

.send_letter_option {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    background-color: white;
    transition: all 0.5s;
}

.send_letter_option_innerContainer {
    display: grid;
    grid-template-columns: 90% 10%;
}

.send_letter_option_menu {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 2rem;
    border: 1px solid black;
}

.send_letter_menu {
    min-width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: white;
}

.send_letter_menu_close {
    border: 1px solid black;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: white;
}

.send_font_active {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    opacity: 1;
    transition: all 0.5s;
}

.send_font {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: none;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    transition: all 0.5s;
}

/*  */

.send_item_font {
    box-shadow: -0.2rem 0 0 0 rgb(6, 18, 42),
        0.2rem 0 0 0 rgb(6, 18, 42),
        0 -0.2rem 0 0 rgb(6, 18, 42),
        0 0.2rem 0 0 rgb(6, 18, 42);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    width: 85%;
    height: 11vh;
    grid-template-rows: 30% 70%;
}

.send_item_font_active {
    box-shadow: -0.2rem 0 0 0 rgb(119, 118, 253),
        0.2rem 0 0 0 rgb(119, 118, 253),
        0 -0.2rem 0 0 rgb(119, 118, 253),
        0 0.2rem 0 0 rgb(119, 118, 253);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    width: 85%;
    height: 11vh;
    grid-template-rows: 30% 70%;
}

.send_item_font_title {
    background-color: rgb(6, 18, 42);
    color: white;
    text-align: center;
    vertical-align: baseline;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.send_item_font_content {
    text-align: center;
    margin: auto;
    font-size: 1.0rem;
}

/*  */

.send_item {
    font-size: 1.0rem;
    margin: 0rem;
    min-height: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    height: 2.8rem;
}

/*  */

.send_color_active {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    opacity: 1;
    transition: all 0.5s;
}

.send_color {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: none;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    transition: all 0.5s;
}

/*  */

.pre_letter_outContainer {
    margin: auto;
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    background-color: #262a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
}

.send_pre_textbox {
    font-family: 'GangwonEdu_OTFBoldA';
    position: absolute;
    text-align: left;
    line-height: 1.5rem;
    border: 2px solid black;
    border-radius: 2%;
    resize: none;
    display: flex;
    margin: auto;
    width: 15rem;
    height: 14rem;
    background-image: url('https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432');
    padding: 0rem 1rem;
    padding-top: 1rem;
}