.send_page_back {
    background-image: url(../lib/KakaoTalk_20230101_142900387.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-color: black;
}

.send_top_menu {
    /* color: white; */
    /*  */
    display: grid;
    grid-template-columns: 10% 60% 30%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
}

.send_top_menu>img {
    /* background-color: white; */
    /*  */
    margin-left: 1rem;
    width: 50%;
}

.send_top_menu>h3 {
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.send_top_menu>span {
    text-align: right;
    margin-right: 1.5rem;
    font-size: 1.0rem;
}

#send_textarea {
    margin: auto;
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    background-color: #262a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
}

.send_textbox {
    font-family: 'GangwonEdu_OTFBoldA';
    position: absolute;
    text-align: left;
    line-height: 1.5rem;
    border: 2px solid black;
    border-radius: 2%;
    resize: none;
    display: flex;
    margin: auto;
    width: 15rem;
    height: 14rem;
    background-image: url('https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432');
    padding: 0rem 1rem;
    padding-top: 1rem;
}

.send_textLength {
    position: absolute;
    left: 80%;
    top: 92%;
    color: aliceblue;
}

/*  */

.send_popUp {
    visibility: visible;
    transition: all 0.5s;
}

.send_popUp_fade {
    touch-action: none;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
}

.send_popUp_outContainer {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.send_popUp_InnerContainer {
    width: 18rem;
    height: 18rem;
    background-color: rgba(255, 255, 255, 1.0);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid rgba(230, 230, 230, 1.0);
}

.send_popUp_InnerContainer>h3 {
    color: black;
    text-align: center;
    margin-top: 2.5rem;
}

.send_popUp_InnerContainer>h4 {
    color: black;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.send_popUP_send_btn,
.send_popUP_main_btn {
    margin: auto;
    margin-top: 1.2rem;
    border: 1px solid black;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

/*  */

.send_option_button {
    /* background-color: white; */
    /*  */
    position: absolute;
    top: 26rem;
    left: 2rem;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3303/3303893.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}

/*  */

.send_letter_option_active {
    position: absolute;
    top: 25rem;
    width: 100%;
    opacity: 1;
    background-color: white;
    transition: all 0.5s;
}

.send_letter_option {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    background-color: white;
    transition: all 0.5s;
}

.send_letter_option_innerContainer {
    display: grid;
    grid-template-columns: 90% 10%;
}

.send_letter_option_menu {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 2rem;
    border: 1px solid black;
}

.send_letter_menu {
    min-width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: white;
    transition: all 0.5s;
}

.send_letter_menu_active {
    color: white;
    min-width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: rgb(6, 18, 42);
    transition: all 0.5s;
}

.send_letter_menu_close {
    border: 1px solid black;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: white;
}

.send_font_active,
.send_paper_active {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    opacity: 1;
    transition: all 0.5s;
}

.send_range_active {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    opacity: 1;
    transition: all 0.5s;
}

.send_color_active,
.send_sticker_active {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    opacity: 1;
    transition: all 0.5s;
}

.send_font,
.send_paper {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: none;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    transition: all 0.5s;
}

.send_range {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    transition: all 0.5s;
}

.send_color,
.send_sticker {
    background-color: white;
    margin-top: 0.5rem;
    height: 10rem;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    touch-action: none;
    transition: all 0.5s;
}

/*  */

.send_item_font {
    box-shadow: -0.2rem 0 0 0 rgb(6, 18, 42),
        0.2rem 0 0 0 rgb(6, 18, 42),
        0 -0.2rem 0 0 rgb(6, 18, 42),
        0 0.2rem 0 0 rgb(6, 18, 42);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    width: 10rem;
    height: 4.5rem;
    grid-template-rows: 30% 70%;
}

.send_item_font_active {
    box-shadow: -0.2rem 0 0 0 rgb(119, 118, 253),
        0.2rem 0 0 0 rgb(119, 118, 253),
        0 -0.2rem 0 0 rgb(119, 118, 253),
        0 0.2rem 0 0 rgb(119, 118, 253);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    width: 10rem;
    height: 4.5rem;
    grid-template-rows: 30% 70%;
}

.send_item_font_title {
    background-color: rgb(6, 18, 42);
    color: white;
    text-align: center;
    vertical-align: baseline;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.send_item_font_content {
    text-align: center;
    margin: auto;
    font-size: 1.0rem;
}

/*  */

.send_item_range {
    box-shadow: -0.2rem 0 0 0 rgb(6 18 42),
        0.2rem 0 0 0 rgb(6 18 42),
        0 -0.2rem 0 0 rgb(6 18 42),
        0 0.2rem 0 0 rgb(6 18 42);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.send_item_range_active {
    box-shadow: -0.2rem 0 0 0 rgb(119, 118, 253),
        0.2rem 0 0 0 rgb(119, 118, 253),
        0 -0.2rem 0 0 rgb(119, 118, 253),
        0 0.2rem 0 0 rgb(119, 118, 253);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.send_item_range_left {
    margin: auto;
    background-image: url('https://cdn-icons-png.flaticon.com/512/847/847497.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.send_item_range_center {
    margin: auto;
    background-image: url('https://cdn-icons-png.flaticon.com/512/847/847621.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.send_item_range_right {
    margin: auto;
    background-image: url('https://cdn-icons-png.flaticon.com/512/847/847499.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

/*  */

.send_item_color {
    box-shadow: -0.2rem 0 0 0 rgb(172 173 177),
        0.2rem 0 0 0 rgb(172 173 177),
        0 -0.2rem 0 0 rgb(172 173 177),
        0 0.2rem 0 0 rgb(172 173 177);
    border: 0.2rem solid rgb(201 203 205);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.send_item_color_active {
    box-shadow: -0.2rem 0 0 0 rgb(119, 118, 253),
        0.2rem 0 0 0 rgb(119, 118, 253),
        0 -0.2rem 0 0 rgb(119, 118, 253),
        0 0.2rem 0 0 rgb(119, 118, 253);
    border: 0.2rem solid rgb(201 203 205);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.send_item_color::after,
.send_item_color_active::after {
    content: '';
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    width: 0.2rem;
    height: 0.3rem;
    background-color: rgb(255 255 255);
}

.send_item_color::before,
.send_item_color_active::before {
    content: '';
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    width: 0.3rem;
    height: 0.2rem;
    background-color: rgb(255 255 255);
}

#color_1 {
    background-color: rgb(6 18 42);
}

#color_2 {
    background-color: rgb(169 19 25);
}

#color_3 {
    background-color: rgb(242 202 22);
}

#color_4 {
    background-color: rgb(77 168 77);
}

#color_5 {
    background-color: rgb(8 160 222);
}

#color_6 {
    background-color: rgb(76 76 253);
}

#color_7 {
    background-color: rgb(221 79 136);
}

#color_8 {
    background-color: rgb(73 36 25);
}

#color_9 {
    background-color: rgb(1 124 136);
}

#color_10 {
    background-color: rgb(220 233 243);
}

/*  */

.send_item_paper {
    box-shadow: -0.2rem 0 0 0 rgb(172 173 177),
        0.2rem 0 0 0 rgb(172 173 177),
        0 -0.2rem 0 0 rgb(172 173 177),
        0 0.2rem 0 0 rgb(172 173 177);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    height: 4.5rem;
    display: flex;
}

.send_item_paper_active {
    box-shadow: -0.2rem 0 0 0 rgb(119, 118, 253),
        0.2rem 0 0 0 rgb(119, 118, 253),
        0 -0.2rem 0 0 rgb(119, 118, 253),
        0 0.2rem 0 0 rgb(119, 118, 253);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    height: 4.5rem;
    display: flex;
}

.send_item_paper>span,
.send_item_paper_active>span {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
}

#paper_1 {
    background-image: url('https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432');
}

#paper_2 {
    background-image: url('https://i.pinimg.com/474x/30/5d/7d/305d7d275a9d2afcd0b96c8ae0e90633.jpg');
}

#paper_3 {
    background-image: url('https://i.pinimg.com/550x/22/18/37/22183786744b98b92080db78180a5f6d.jpg');
}

/*  */

.send_close {
    background-image: url(https://cdn-icons-png.flaticon.com/512/463/463612.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.8rem;
    height: 0.8rem;
    z-index: 2;
}

.send_item_sticker_0 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/8719/8719690.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker0 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/8719/8719690.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker0:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item_sticker_1 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker1 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker1:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item_sticker_2 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker2 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker2:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item_sticker_3 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/8928/8928666.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker3 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/8928/8928666.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker3:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item_sticker_4 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/9123/9123344.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker4 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/9123/9123344.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker4:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item_sticker_5 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/5735/5735354.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker5 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/5735/5735354.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker5:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.send_item_sticker_6 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/4472/4472834.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.send_item_sticker6 {
    width: 3rem;
    height: 3rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/4472/4472834.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.send_item_sticker6:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

/*  */

.pre_letter_outContainer {
    margin: auto;
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    background-color: #262a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
}

.send_pre_textbox {
    font-family: 'GangwonEdu_OTFBoldA';
    position: absolute;
    text-align: left;
    line-height: 1.5rem;
    border: 2px solid black;
    border-radius: 2%;
    resize: none;
    display: flex;
    margin: auto;
    width: 15rem;
    height: 14rem;
    background-image: url('https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432');
    padding: 0rem 1rem;
    padding-top: 1rem;
}

/*  */

.pre_letter_outBox {
    pointer-events: none;
    touch-action: none;
    opacity: 0;
    transition: all 0.5s;
}

.pre_letter_outBox_active {
    visibility: visible;
}

.pre_letter_wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.pre_letter_title {
    width: 6rem;
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
}

.pre_letter_title_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pre_letter_title_outContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pre_letter_title_outContainer>div>img {
    width: 2rem;
    margin: auto;
}

.pre_letter_author_outContainer {
    margin: auto;
    width: 20rem;

}

.pre_letter_autho_title {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.pre_letter_author_input {
    width: 10rem;
    font-family: 'GangwonEdu_OTFBoldA';
    margin-left: 0.5rem;
    border: none;
    background-color: lightgray;
    height: 1.5rem;
    line-height: 1.5rem;

}

.pre_letter_author_outContainer>span {
    margin-left: 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.pre_letter_stamp_outContainer {
    margin: auto;
    width: 15rem;
    height: 5rem;
}

.pre_letter_stamp_innerContainer {
    margin: auto;
    background-size: contain;
    width: 3.0rem;
    height: 3.0rem;
    border: 0.2rem solid rgb(255 255 255);
}

.pre_letter_stamp_innerContainer_active {
    margin: auto;
    background-size: contain;
    width: 3.0rem;
    height: 3.0rem;
    border: 0.2rem solid black;
}

.pre_letter_author_outContainer>img {
    position: relative;
    top: -4.2rem;
    left: 18rem;
    width: 1.5rem;
    transform: rotate(180deg);
    opacity: 0.5;
}

#pre_letter_stamp_img_1 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1236/1236666.png');
}

#pre_letter_stamp_img_2 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1236/1236784.png');
}

#pre_letter_stamp_img_3 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1236/1236907.png');
}

#pre_letter_stamp_img_4 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1236/1236825.png');
}

#pre_letter_stamp_img_5 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/4071/4071641.png');
}

#pre_letter_stamp_img_6 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2722/2722007.png');
}

/*  */

.sending_page_outBox_active {
    visibility: visible;
}

.sending_page_outBox {
    pointer-events: none;
    touch-action: none;
    opacity: 0;
    transition: all 0.5s;
}

.sending_page_wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.sending_page_gif {
    margin: auto;
    margin-top: 5rem;
    background-image: url('../lib/KakaoTalk_20221220_175352851_01.gif');
    width: 13rem;
    height: 13rem;
    background-size: cover;
}

.sending_page_h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.sending_page_h4 {
    color: black;
    text-align: center;
    margin-top: 0.5rem;
}

/*  */

.sending_end_active {
    visibility: visible;
}

.sending_end {
    pointer-events: none;
    touch-action: none;
    opacity: 0;
    transition: all 0.5s;
}

.sending_end_wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.sending_end_img {
    margin: auto;
    margin-top: 8rem;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3129/3129271.png');
    width: 5rem;
    height: 5rem;
    background-size: cover;
}

.sending_end_h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.sending_end_h3_2 {
    text-align: center;
    margin-top: 0.5rem;
}

.sending_end_div {
    margin: auto;
    text-align: center;
    margin-top: 2.0rem;
    border: 1px solid black;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
}