.html,
body {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior-y: none;
    font-family: 'GangwonEdu_OTFBoldA';
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.top_menu {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
}

.top_menu>img {
    margin-left: 1rem;
    width: 50%;
}

.top_menu>h3 {
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.top_menu>span {
    text-align: right;
    margin-right: 1.5rem;
    font-size: 1.0rem;
}

#textarea {
    margin: auto;
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    background-color: #262a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
}

.textbox {
    font-family: 'GangwonEdu_OTFBoldA';
    position: absolute;
    text-align: left;
    line-height: 1.5rem;
    border: 2px solid black;
    border-radius: 2%;
    resize: none;
    display: flex;
    margin: auto;
    width: 15rem;
    height: 14rem;
    background-image: url('https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432');
    padding: 0rem 1rem;
    padding-top: 1rem;
}

.textLength {
    position: absolute;
    left: 80%;
    top: 92%;
    color: aliceblue;
}

.btn0 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn0_1 {
    opacity: 0;
    pointer-events: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn1 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/733/733740.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn1_1 {
    opacity: 0;
    pointer-events: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/733/733740.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn2 {
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn2_1 {
    opacity: 0;
    pointer-events: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.item0 {
    width: 4rem;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2662/2662908.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.item0:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.item1 {
    width: 4rem;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/733/733740.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.item1:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.item2 {
    width: 4rem;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2920/2920093.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 1;
    position: absolute;
}

.item2:active {
    background-color: rgba(168, 218, 220, 1.00);
    position: relative;
}

.close {
    background-image: url(https://cdn-icons-png.flaticon.com/512/463/463612.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    z-index: 2;
}